@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,700,900');

*{
	box-sizing: border-box;
}

body{
	margin: 0;
	font-family: 'Raleway', sans-serif;
	text-align: center;
	background-image: url(../img/background-home-double.png);
	background-repeat: repeat-y;
}


/* Header
/////////////// */

header{
	position: absolute;
	margin: .2rem 1rem;
	left: 0;
	right: 0;
	z-index: 1;
}

nav ul{
	margin: 0;
	padding: 0;
	list-style: none;
}

nav li{
	display: inline-block;
	margin: 1em;
}

nav a{
	font-weight: 900;
	text-decoration: none;
	text-transform: uppercase;
	color: white;
	font-size: .8rem;
}

nav a:hover,
nav a:focus {
	color: #DDD;
}

@media (min-width: 45rem) {
	nav{
		float: right;
	}

	nav a{
		font-size: 1.4rem;
	}
}
	
/* Code
////////////// */
.precode
.code{
	text-align: left;
}

/* videos
////////////// */
.video{
	margin: 1rem 0;
}

/* box
////////////// */

.content{
	position: absolute;
	width: 80%;
	margin-left: 10%;
	margin-top: 5rem;
	margin-bottom: 5rem;
	padding: 3rem 7rem;
	background: white;
}


/* Title
////////////// */


.title{
	color: black;
	margin: 0;
	font-size: 6rem;
	border-bottom: 2px solid black;
}

/* Project information
////////////// */

.front-info-text{
	color: black;
	margin: 2rem 0 0 0;
	font-size: 1.6rem;
}


/*  Front img
////////////// */

.front-image{
	width: 1000px;
	height: 500px;
	overflow: hidden;
	margin: 0 auto;
	margin-top: 2rem;
}

.front-image-image{
	width: 100%;
	height: 100%;
	object-fit: cover;
	display: block;

}

/* Project information normal
////////////// */

.normal-info-text{
	color: black;
	margin: 2rem 0 0 10%;
	font-size: 1.4rem;
	width: 80%;
}