@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,700,900');

*{
	box-sizing: border-box;
}

body{
	margin: 0;
	font-family: 'Raleway', sans-serif;
	text-align: center;
}

figure{
	margin: 0;
	padding: 0;
}

img {
	max-width: 100%;
	height: auto;
}


/* typography
===================== */

.Home-Title{
	margin: 0;
	font-size: 2.5rem;
	position: absolute;
	top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

.Home-Title span {
	font-size: .6em;
	display: block;
}

@media (min-width: 43.75rem) {
	.Home-Title{
		font-size: 4rem;
	}
}

@media (min-width: 75rem) {
	.Home-Title{
		font-size: 6rem;
	}
}

.button{
	display: inline-block;
	font-size: 1.5rem;
	text-decoration: none;
	text-transform: uppercase;
	border-width: 2px;
	border-style: solid;
	padding: .5em 1.75em;
}

/* header
===================== */

header{
	position: absolute;
	margin: .2rem 1rem;
	left: 0;
	right: 0;
}

nav ul{
	margin: 0;
	padding: 0;
	list-style: none;
}

nav li{
	display: inline-block;
	margin: 1em;
}

nav a{
	font-weight: 900;
	text-decoration: none;
	text-transform: uppercase;
	color: white;
	font-size: .8rem;
}

nav a:hover,
nav a:focus {
	color: #DDD;
}

@media (min-width: 45rem) {
	nav{
		float: right;
	}

	nav a{
		font-size: 1.4rem;
	}
}

/* Home
===================== */

.Home-Start{
	background-image: url(../img/background-home.jpg);
	background-size: cover;
	background-position: center;
	width: 100%;
	height: 100vh;
	color: white;
}

/* About Me
===================== */

.about-me{
	background-image: url(../img/background-about-me.jpg);
	width: 100%;
	height: 50vh;
	background-size: cover;
	background-position: center;
	position: relative;
}

.about-text{
	position: absolute;
	top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

.title-about-me{
	margin: 0;
	font-size: 2rem;
	font-weight: 700;
	border-bottom: 2px solid black;
	width: 80%;
	margin-left: 10%;
}

.about-me p{
	font-size: 1rem;
	font-weight: 300;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}

@media (min-width: 37.5rem){
	.title-about-me{
		font-size: 2.5rem;
	}

	.about-me p{
		font-size: 1.25rem;
	}
}

@media (min-width: 60rem){
	.title-about-me{
		font-size: 2.75rem;
	}

	.about-me p{
		font-size: 1.5rem;
	}
}

@media (min-width: 71.25rem){
	.title-about-me{
		font-size: 3rem;
	}

	.about-me p{
		font-size: 1.75rem;
	}
}

@media (min-width: 53.1rem){
	.about-me p{
		
	width: 70%;

	}
}

@media (min-width: 98.75rem){
	.about-me p{
		
	width: 60%;

	}
}

@media (min-width: 110rem){
	.about-me p{
		
	width: 55%;

	}
}

@media (max-height: 37.5rem){
	.about-me{
		height: 60vh;
	}
}

@media (max-height: 43.75rem){
	.about-me{
		height: 60vh;
	}
}

@media (max-height: 34.3rem){
	.about-me{
		height: 100vh;
	}
}



.between{
	height: 1.5rem;
}

.about-cv{
	text-decoration: none;
	text-transform: uppercase;
	font-weight: 900;
	font-size: 1rem;
	color:black;
	padding: .4rem 2rem;
	border: 3px solid black;
}

.about-cv:hover,
.about-cv:focus{
	color: gray;
	border: 3px solid gray;
}

@media (min-width: 30rem){
	.about-cv{
		font-size: 1.3rem;
		padding: .4rem 3rem;
	}
}

@media (min-width: 45rem){
	.about-cv{
		font-size: 1.5rem;
		border: 4px solid black;
	}
}

/* Skills
===================== */

.skill-home{
	background-image: url(../img/background-skills.jpg);
	width: 100%;
	height: 50vh;
	background-size: cover;
	background-position: center;
	position: relative;
}

.skills{
	position: absolute;
	top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

.skills-title{
	color: white;
	border-bottom: 2px solid white;
}


.ul-skill-first{
	display: inline-block;
	list-style: none;
	margin: 2rem 0;
	float: left; 
	padding: 0 3rem;
}

.ul-skill-second{
	display: inline-block;
	list-style: none;
	margin: 2rem 0;
	float: right; 
	padding: 0 1.1rem;
}

.ul-skill-first li,
.ul-skill-second li{
	text-decoration: none;
	color: white;
	font-size: 1.3rem;
}

@media (min-width: 25rem){
	.ul-skill-first li,
	.ul-skill-second li{
		font-size: 1.45rem;
	}
	.skills-title{
		font-size: 2.3rem;
	}
}

@media (min-width: 43.75rem){
	.ul-skill-first li,
	.ul-skill-second li{
		font-size: 1.8rem;
	}
	.skills-title{
		font-size: 2.8rem;
	}
}

@media (min-width: 75rem){
	.ul-skill-first li,
	.ul-skill-second li{
		font-size: 2.2rem;
	}
	.skills-title{
		font-size: 3.2rem;
	}
}

@media(max-width: 22.5rem){
	.ul-skill-first{
		padding: 0 0.7rem;
	}
	.ul-skill-second{
		padding: 0 0.1rem;	
	}

	.skills{
		width: 80%;
	}
}

@media(max-height: 34.3rem){
	.skill-home{
		height: 100vh;
	}	
}

/* Skills
===================== */

.portfolio{
	background-image: url(../img/background-portfolio.jpg);
	padding: 2.5rem 0 0 0;
	background-size: cover;
	background-position: center;
}

.title-portfolio{
	color: black;
	margin-bottom: 2rem;
}

.port-item{
	position: relative;
	overflow: hidden;
}

.port-item img{
	display: block;
}

.port-item:hover .port-desc,
.port-item:focus .port-desc{ 
	top: 0;
}

.port-desc{
	position: absolute;
	top: 100%;
	bottom: 0;
	right: 0;
	left: 0;
	background: rgba(0, 0, 0, .5);
	color: white;
	display: flex;
	flex-direction: column;
	transition: top ease-in-out 250ms;
}

.port-desc-title{
	font-size: 2.5rem;
	font-weight: 700;
	margin: 60% 0 5% 0;
}

.port-desc-desc{
	font-size: 1rem;
	font-weight: 300;
	margin:0 0 3rem 0;
}

@supports(display: grid){
	.portfolio-items {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
	}

	.featured{
		grid-column: 1 / span 2;
		grid-row: 1 / span 2;
	}
}