@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,700,900');

*{
	box-sizing: border-box;
}

body{
	margin: 0;
	font-family: 'Raleway', sans-serif;
	text-align: center;
}

img {
	max-width: 100%;
	height: auto;
}


/* typography
===================== */

.Home-Title{
	margin: 0;
	font-size: 2.5rem;
	position: absolute;
	top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

.Home-Title span {
	font-size: .6em;
	display: block;
}

@media (min-width: 43.75rem) {
	.Home-Title{
		font-size: 4rem;
	}
}

@media (min-width: 75rem) {
	.Home-Title{
		font-size: 6rem;
	}
}

.button{
	display: inline-block;
	font-size: 1.5rem;
	text-decoration: none;
	text-transform: uppercase;
	border-width: 2px;
	border-style: solid;
	padding: .5em 1.75em;
}

/* header
===================== */

header{
	position: absolute;
	margin: .2rem 1rem;
	left: 0;
	right: 0;
}

nav ul{
	margin: 0;
	padding: 0;
	list-style: none;
}

nav li{
	display: inline-block;
	margin: 1em;
}

nav a{
	font-weight: 900;
	text-decoration: none;
	text-transform: uppercase;
	color: white;
	font-size: .8rem;
}

nav a:hover,
nav a:focus {
	color: #DDD;
}

@media (min-width: 45rem) {
	nav{
		float: right;
	}

	nav a{
		font-size: 1.4rem;
	}
}

/* Home
===================== */

.Home-Start{
	background-image: url(../img/background-home.jpg);
	background-size: cover;
	background-position: center;
	width: 100%;
	height: 100vh;
	color: white;
}

/* About Me
===================== */

.about-me{
	background-image: url(../img/background-about-me.jpg);
	width: 100%;
	height: 50vh;
	background-size: cover;
	background-position: center;
}


.title-about-me{
	margin: 0;
	padding-top: 3rem;
	font-size: 2rem;
	font-weight: 700;
}

.about-me p{
	font-size: 1rem;
	font-weight: 300;
	width: 95%;
	margin-left: auto;
	margin-right: auto;
}

.between{
	height: 1rem;
}

@media (max-height: 37.5rem){
	.about-me{
		height: 60vh;
	}
}

.about-cv{
	text-decoration: none;
	text-transform: uppercase;
	font-weight: 900;
	font-size: 1rem;
	color:black;
	padding: .4rem 2rem;
	border: 3px solid black;
}
