@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,700,900');

*{
	box-sizing: border-box;
}

body{
	margin: 0;
	font-family: 'Raleway', sans-serif;
	text-align: center;
}

figure{
	margin: 0;
	padding: 0;
}

img {
	max-width: 100%;
	height: auto;
}


/* typography
===================== */

.Home-Title{
	margin: 0;
	font-size: 2.5rem;
	position: absolute;
	top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

.Home-Title span {
	font-size: .6em;
	display: block;
}

@media (min-width: 43.75rem) {
	.Home-Title{
		font-size: 4rem;
	}
}

@media (min-width: 75rem) {
	.Home-Title{
		font-size: 6rem;
	}
}

.button{
	display: inline-block;
	font-size: 1.5rem;
	text-decoration: none;
	text-transform: uppercase;
	border-width: 2px;
	border-style: solid;
	padding: .5em 1.75em;
}

/* header
===================== */

header{
	position: absolute;
	margin: .2rem 1rem;
	left: 0;
	right: 0;
}

nav ul{
	margin: 0;
	padding: 0;
	list-style: none;
}

nav li{
	display: inline-block;
	margin: 1em;
}

nav a{
	font-weight: 900;
	text-decoration: none;
	text-transform: uppercase;
	color: white;
	font-size: .8rem;
}

nav a:hover,
nav a:focus {
	color: #DDD;
}

@media (min-width: 45rem) {
	nav{
		float: right;
	}

	nav a{
		font-size: 1.4rem;
	}
}

/* Home
===================== */

.Home-Start{
	background-image: url(../img/background-home.jpg);
	background-size: cover;
	background-position: center;
	width: 100%;
	height: 100vh;
	color: white;
}

/* About Me
===================== */

.about-me{
	background-image: url(../img/background-about-me.jpg);
	width: 100%;
	height: 50vh;
	background-size: cover;
	background-position: center;
	position: relative;
}

.about-text{
	position: absolute;
	top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

.title-about-me{
	margin: 0;
	font-size: 2rem;
	font-weight: 700;
	border-bottom: 2px solid black;
	width: 75%;
	margin-left: 12.5%;
}

.about-me p{
	font-size: 1rem;
	font-weight: 300;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}

@media (min-width: 37.5rem){
	.title-about-me{
		font-size: 2.5rem;
	}

	.about-me p{
		font-size: 1.25rem;
	}
}

@media (min-width: 60rem){
	.title-about-me{
		font-size: 2.75rem;
		width: 50%;
		margin-left: 25%;
	}

	.about-me p{
		font-size: 1.5rem;
	}
}

@media (min-width: 71.25rem){
	.title-about-me{
		font-size: 3rem;
	}

	.about-me p{
		font-size: 1.75rem;
	}
}

@media (min-width: 53.1rem){
	.about-me p{
		
	width: 70%;

	}
}

@media (min-width: 98.75rem){
	.about-me p{
		
	width: 60%;

	}
}

@media (min-width: 110rem){
	.about-me p{
		
	width: 55%;

	}
}

@media (max-height: 37.5rem){
	.about-me{
		height: 60vh;
	}
}

@media (max-height: 43.75rem){
	.about-me{
		height: 60vh;
	}
}

@media (max-height: 34.3rem){
	.about-me{
		height: 100vh;
	}
}



.between{
	height: 1.5rem;
}

.about-cv{
	text-decoration: none;
	text-transform: uppercase;
	font-weight: 900;
	font-size: 1rem;
	color:black;
	padding: .4rem 2rem;
	border: 3px solid black;
}

.about-cv:hover,
.about-cv:focus{
	color: gray;
	border: 3px solid gray;
}

@media (min-width: 30rem){
	.about-cv{
		font-size: 1.3rem;
		padding: .4rem 3rem;
	}
}

@media (min-width: 45rem){
	.about-cv{
		font-size: 1.5rem;
		border: 4px solid black;
	}
}

/* Skills
===================== */

.skill-home{
	background-image: url(../img/background-skills.jpg);
	width: 100%;
	height: 50vh;
	background-size: cover;
	background-position: center;
	position: relative;
}

.skills{
	position: absolute;
	top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

.skills-title{
	color: white;
	border-bottom: 2px solid white;
	width: 100%;
	margin-left: -0.01%;
}

.ul-skill-first{
	display: inline-block;
	list-style: none;
	margin: 2rem 0;
	float: left; 
	padding: 0 3rem;
}

.ul-skill-second{
	display: inline-block;
	list-style: none;
	margin: 2rem 0;
	float: right; 
	padding: 0 1.1rem;
}

.ul-skill-first li,
.ul-skill-second li{
	text-decoration: none;
	color: white;
	font-size: 1.3rem;
}

@media (min-width: 25rem){
	.ul-skill-first li,
	.ul-skill-second li{
		font-size: 1.45rem;
	}
	.skills-title{
		font-size: 2.3rem;
	}
}

@media (min-width: 43.75rem){
	.ul-skill-first li,
	.ul-skill-second li{
		font-size: 1.8rem;
	}
	.skills-title{
		font-size: 2.8rem;
	}
}

@media (max-height: 43.75rem){
	.skill-home{
	height: 70vh;
	}
}

@media (min-width: 75rem){
	.ul-skill-first li,
	.ul-skill-second li{
		font-size: 2.2rem;
	}
	.skills-title{
		font-size: 3.2rem;
	}
}

@media(max-width: 22.5rem){
	.ul-skill-first{
		padding: 0 0.7rem;
	}
	.ul-skill-second{
		padding: 0 0.1rem;	
	}

	.skills{
		width: 80%;
	}
}

@media(max-height: 34.3rem){
	.skill-home{
		height: 100vh;
	}	
}

<<<<<<< HEAD
/* portfolio
=======
/* Skills
>>>>>>> e93807ee77558d7f32524caf0b3e0b25da386068
===================== */

.portfolio{
	background-image: url(../img/background-portfolio.jpg);
<<<<<<< HEAD
	padding: 2.5rem 0 2.5rem 0;
=======
	padding: 2.5rem 0 0 0;
>>>>>>> e93807ee77558d7f32524caf0b3e0b25da386068
	background-size: cover;
	background-position: center;
}

.title-portfolio{
	color: black;
	margin-bottom: 2rem;
}

<<<<<<< HEAD

@supports(display: grid){
	.portfolio-items {
		display: grid;
		width: 90%;
		max-width: 80em;
		margin: 0 auto;
		grid-template-columns: repeat(2, 1fr);
		grid-gap: 10px;
	}

	@media (min-width: 50rem){
		.portfolio-items{
			grid-template-columns: repeat(4, 1fr);
		}
	}

	.featured{
		grid-column: 1 / span 2;
		grid-row: 1 / span 2;
	}
}

=======
>>>>>>> e93807ee77558d7f32524caf0b3e0b25da386068
.port-item{
	position: relative;
	overflow: hidden;
}

<<<<<<< HEAD
.port-item figcaption::before {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(to bottom, rgba(72,76,97,0) 0%, rgba(72,76,97,0.8) 75%);
	content: '';
	opacity: 0;
	transform: translate3d(0,50%,0);
}

.port-desc-title {
	position: absolute;
	top: 50%;
	left: 0;
	width: 100%;
	font-weight: 700;
	font-size: 3rem;
	color: #bfbfbf;
	transition: transform 0.35s, color 0.35s;
	transform: translate3d(0,-50%,0);
}

.featured .port-desc-title{
	font-size: 8rem;
}

.featured .port-desc-desc{
	font-size: 2rem;
}


.port-item img{
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.port-item figcaption::before,
.port-desc-desc {
	transition: opacity 0.35s, transform 0.35s;
}

figure.port-item p {
	position: absolute;
	bottom: 0;
	left: 0;
	padding: 2em 2em 1em 2em;
	width: 100%;
	opacity: 0;
	font-weight: 400;
	font-size: 1.2rem;
	color: white;
	transform: translate3d(0,10px,0);
}

figure.port-item:hover h2 {
	color: #fff;
	transform: translate3d(0,-50%,0) translate3d(0,-60px,0);
}

figure.featured:hover figcaption h2 {
	color: #fff;
	transform: translate3d(0,-50%,0) translate3d(0,-130px,0);
}

figure.port-item:hover figcaption::before ,
figure.port-item:hover p {
	opacity: 1;
	transform: translate3d(0,0,0);
}

@media(max-width: 83.1rem){
	.port-desc-title {
		font-size: 2.5rem;
	}

	figure.port-item p {
		font-size: 1rem;
	}

	.featured .port-desc-title{
	font-size: 6.8rem;
	}

	.featured .port-desc-desc{
	font-size: 1.8rem;
	}
}

@media(max-width: 73.125rem){
	.port-desc-title {
		font-size: 2rem;
	}

	figure.port-item p {
		font-size: 0.85rem;
	}

	.featured .port-desc-title{
	font-size: 5.6rem;
	}

	.featured .port-desc-desc{
	font-size: 1.5rem;
	}
}

@media(max-width: 56.25rem){
	.port-desc-title {
		font-size: 1.5rem;
	}

	figure.port-item p {
		font-size: 0.8rem;
	}

	.featured .port-desc-title{
	font-size: 4.4rem;
	}

	.featured .port-desc-desc{
	font-size: 1.2rem;
	}
}

@media(max-width: 50rem){
	.port-desc-title {
		font-size: 2.5rem;
	}

	figure.port-item p {
		font-size: 1rem;
	}

	.featured .port-desc-title{
	font-size: 6.8rem;
	}

	.featured .port-desc-desc{
	font-size: 1.8rem;
	}
}

@media(max-width: 43.75rem){
	.port-desc-title {
		font-size: 2.5rem;
	}

	figure.port-item p {
		font-size: 1rem;
	}

	.featured .port-desc-title{
	font-size: 6.8rem;
	}

	.featured .port-desc-desc{
	font-size: 1.8rem;
	}
}

@media(max-width: 37.5rem){
	.port-desc-title {
		font-size: 2rem;
	}

	figure.port-item p {
		font-size: 0.85rem;
	}

	.featured .port-desc-title{
	font-size: 5.6rem;
	}

	figure.featured:hover figcaption h2 {
	color: #fff;
	transform: translate3d(0,-50%,0) translate3d(0,-110px,0);
	}

	.featured .port-desc-desc{
	font-size: 1.5rem;
	}
}

@media(max-width: 31.25rem){
	.port-desc-title {
		font-size: 1.5rem;
	}

	figure.port-item p {
		font-size: 0.8rem;
	}

	.featured .port-desc-title{
	font-size: 4.4rem;
	}

	.featured .port-desc-desc{
	font-size: 1.2rem;
	}
}

@media(max-width: 21.8rem){
	.port-desc-title {
		font-size: 1.2rem;
	}

	figure.port-item p {
		font-size: 0.6rem;
	}

	.featured .port-desc-title{
	font-size: 3.2rem;
	}

	.featured .port-desc-desc{
	font-size: 1rem;
	}
}


/* Contact
===================== */

.contact{
	background-image: url(../img/ContactBackground.jpg);
	width: 100%;
	height: 50vh;
	background-size: cover;
	background-position: center;
	position: relative;
}

.title-contact{
	margin-bottom: 5rem;
	color: white;
	border-bottom: 2px solid white;
	font-size: 4rem;
	width: 100%;
	margin-left: 0.01%;
}
	
.contact-text{
	position: absolute;
	top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}


.contact-text p {
	color: white;
	font-size: 2rem;
}

.contact-text span{
	display: block;
	font-size: 4rem;
	font-weight: 700;
}


@media (max-width: 62.5rem){
	.title-contact{
		font-size: 3rem;
		margin-bottom: 4rem;
	}

	.contact-text p {
		font-size: 1.5rem;
	}

	.contact-text span{
		font-size: 3rem;
	}
}

@media (max-width: 40rem){
	.title-contact{
		font-size: 2rem;
		margin-bottom: 3rem;
	}

	.contact-text p {
		font-size: 1rem;
	}

	.contact-text span{
		font-size: 2rem;
	}
}

@media (max-width: 25rem){
	.title-contact{
		font-size: 1.8rem;
		margin-bottom: 2rem;
	}

	.contact-text p {
		font-size: 1rem;
	}

	.contact-text span{
		font-size: 1.8rem;
	}
}

@media (max-width: 21rem){
	.title-contact{
		font-size: 1.5rem;
		margin-bottom: 2rem;
	}

	.contact-text p {
		font-size: 0.8rem;
	}

	.contact-text span{
		font-size: 1.5rem;
=======
.port-item img{
	display: block;
}

.port-item:hover .port-desc,
.port-item:focus .port-desc{ 
	top: 0;
}

.port-desc{
	position: absolute;
	top: 100%;
	bottom: 0;
	right: 0;
	left: 0;
	background: rgba(0, 0, 0, .5);
	color: white;
	display: flex;
	flex-direction: column;
	transition: top ease-in-out 250ms;
}

.port-desc-title{
	font-size: 2.5rem;
	font-weight: 700;
	margin: 60% 0 5% 0;
}

.port-desc-desc{
	font-size: 1rem;
	font-weight: 300;
	margin:0 0 3rem 0;
}

@supports(display: grid){
	.portfolio-items {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
	}

	.featured{
		grid-column: 1 / span 2;
		grid-row: 1 / span 2;
>>>>>>> e93807ee77558d7f32524caf0b3e0b25da386068
	}
}