* {
	box-sizing: border-box;
}

body{
	margin: 0;
	padding: 0;
	background: white;
}

img{
	max-width: 100%;
}

	/* HEADER START */

.container {
	width: 80%;
	margin: 0 auto; 
}

header{
	background: white;
}

header::after{
	content: '';
	display: table;
	clear: both;
}

.logo {
	float: left;
	margin: 0;
	padding: 10px 0;
}

nav {
	float: right;
}

nav ul{
	margin: 0;
	padding: 0;
	list-style: none;
}

nav li{
	display: inline-block;
	padding-top: 19px;
	position: relative;
}

nav a{
	text-decoration: none;
	color: black;
	text-transform: uppercase;
	font-family: Heebo, sans-serif;
	padding: 5px 25px;
}

nav a:hover{
	color: gray;
	transition: all ease-in-out 250ms;
}
	/* HEADER END */

div.hero h1{
	color: black;
	line-height: 1;
	font-size: 3.125rem;
}

h1 span{
	color: black;
	display: block;
	font-size: 5.5rem;
	
}

h2{

}